/* Grid */
.grid {
    display: grid;
}

.grid div {
    /* Width & height */
    height: 200px;
}
.grid-c3 {
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(3, 200px); */

    /* Automatically adds rows with a height of 200px */
    grid-template-rows: 200px;
}
.grid-r3 {
    /* 
    More rows get automatically made when not
    enough columns are available
    */
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-rows: repeat(3, 200px);
}

.grid-4x3 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    border: var(--thicc-border);
    gap: 10px;
    border-radius: 8px;
}
.grid-4x3 div {
    border-radius: 8px;
}
